In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
df=pd.read_csv('london_merged.csv')

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [40]:
df.shape

(17414, 10)

In [41]:
df

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [42]:
#unique value count in weather code column
df.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [43]:
#unique value count in season column
df.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [52]:
#renaming the column names:
new_cols={'timestamp':'time',
         'cnt':'count',
         't1':'temp_real_C',
         't2':'temp_feels_like_C',
         'hum':'humidity_precent',
         'wind_speed':'wind_speed_kph',
         'weather_code':'weather',
         'is_holiday':'is_holiday',
         'is_weekend':'is_weekend',
         'season':'season'}
df.rename(new_cols,axis=1,inplace=True)

#changing humidity values to percentage
df['humidity_percent']=df.humidity_precent/100
df

,time,count,temp_real_C,temp_feels_like_C,humidity_precent,wind_speed_kph,weather,is_holiday,is_weekend,season,humidity_percent
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0,0.930
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0,0.930
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0,0.965
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0,1.000
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0,0.930
...,...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0,0.810
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0,0.810
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0,0.785
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0,0.760
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0,0.760

In [53]:
#creating season dictionary to map integers 0-3 to each actual values
season_dict={'0.0':'spring',
            '1.0':'summer',
            '2.0':'autumn',
            '3.0':'winter'}

#creating weather dictionary to map integers to each actual values
weather_dict = {
    '1.0':'Clear',
    '2.0':'Scattered clouds',
    '3.0':'Broken clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0':'Snowfall'
}

In [54]:
#changing column type to string
df.season=df.season.astype('str')
df.weather=df.weather.astype('str')

In [55]:
#mapping new dictionary
df.season=df.season.map(season_dict)
df.weather=df.weather.map(weather_dict)

In [57]:
df.head(10)

,time,count,temp_real_C,temp_feels_like_C,humidity_precent,wind_speed_kph,weather,is_holiday,is_weekend,season,humidity_percent
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,Broken clouds,0.0,1.0,winter,0.930
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,Clear,0.0,1.0,winter,0.930
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,Clear,0.0,1.0,winter,0.965
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,Clear,0.0,1.0,winter,1.000
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,Clear,0.0,1.0,winter,0.930
5,2015-01-04 05:00:00,46,2.0,2.0,93.0,4.0,Clear,0.0,1.0,winter,0.930
6,2015-01-04 06:00:00,51,1.0,-1.0,100.0,7.0,Cloudy,0.0,1.0,winter,1.000
7,2015-01-04 07:00:00,75,1.0,-1.0,100.0,7.0,Cloudy,0.0,1.0,winter,1.000
8,2015-01-04 08:00:00,131,1.5,-1.0,96.5,8.0,Cloudy,0.0,1.0,winter,0.965
9,2015-01-04 09:00:00,301,2.0,-0.5,100.0,9.0,Broken clouds,0.0,1.0,winter,1.000

In [59]:
#converting final data to excel
df.to_excel('london_bikes_final.xlsx',sheet_name='Data')